[theme~="dark"] {
    /* Backgrounds */
    --color-bg-primary: #212121;
    /* Neutral Dark */
    --color-bg-secondary: #2c2c2c;
    /* Neutral Lighter */
    --color-bg-surface: #2c2c2c;
    /* Neutral Lighter */

    /* Lumo Overrides */
    --lumo-base-color: #212121;
    --lumo-body-text-color: var(--color-text-main);
    --lumo-header-text-color: var(--color-text-main);
    --lumo-secondary-text-color: var(--color-text-secondary);
    --lumo-tertiary-text-color: var(--color-text-muted);
    --lumo-shade-5pct: rgba(255, 255, 255, 0.05);
    --lumo-shade-10pct: rgba(255, 255, 255, 0.1);

    /* Text */
    --color-text-main: #f9fafb;
    /* gray-50 */
    --color-text-secondary: #d1d5db;
    /* gray-300 */
    --color-text-muted: #6b7280;
    /* gray-500 */
    --color-text-inverted: #000000;

    /* Primary Brand */
    --color-primary: #3b82f6;
    /* blue-500 */
    --color-primary-hover: #60a5fa;
    /* blue-400 */

    /* Borders */
    --color-border: #424242;
    /* Neutral Gray */
}