[theme~="dark"] {
    /* Backgrounds */
    --color-bg-primary: #212121;
    --color-bg-secondary: #2c2c2c;
    --color-bg-surface: #2c2c2c;

    /* Text */
    --color-text-main: #f9fafb;
    --color-text-secondary: #d1d5db;
    --color-text-muted: #6b7280;
    --color-text-inverted: #000000;

    /* Primary Brand */
    --color-primary: #3b82f6;
    --color-primary-hover: #60a5fa;

    /* Borders */
    --color-border: #424242;

    /* Links & Actions */
    --color-link: #90a4ae;
    /* blue-grey-300 */
}
