services:
  server:
    image: ghcr.io/goauthentik/server:2025.10
    container_name: authentik-server-${ENV_TAG}
    restart: unless-stopped
    command: server
    depends_on:
      - db
    env_file:
      - .env.${ENV_TAG}
    environment:
      AUTHENTIK_POSTGRESQL__HOST: db
      AUTHENTIK_POSTGRESQL__PORT: 5432
      AUTHENTIK_POSTGRESQL__NAME: ${POSTGRES_DB}
      AUTHENTIK_POSTGRESQL__USER: ${POSTGRES_USER}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${POSTGRES_PASSWORD}
      AUTHENTIK_LISTEN__HTTP: 0.0.0.0:9000
      AUTHENTIK_LISTEN__HTTPS: 0.0.0.0:9443
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9443:9443"
    volumes:
      - /media
      - /certs
      - ./assets:/web/dist/custom

  worker:
    image: ghcr.io/goauthentik/server:2025.10
    container_name: authentik-worker-${ENV_TAG}
    restart: unless-stopped
    command: worker
    depends_on:
      - db
    env_file:
      - .env.${ENV_TAG}
    environment:
      AUTHENTIK_POSTGRESQL__HOST: db
      AUTHENTIK_POSTGRESQL__PORT: 5432
      AUTHENTIK_POSTGRESQL__NAME: ${POSTGRES_DB}
      AUTHENTIK_POSTGRESQL__USER: ${POSTGRES_USER}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - /media
      - /certs
