services:
  tomcat:
    image: tomcat:10.1-jdk21
    container_name: tomcat-${ENV_TAG}
    restart: unless-stopped
    ports:
      - "127.0.0.1:8081:8080"
    volumes:
      - ./deploy:/usr/local/tomcat/webapps
    env_file:
      - .env.${ENV_TAG}
    environment:
      SPRING_PROFILES_ACTIVE: docker
      AUTHENTIK_BACKEND_HOST: http://authentik-server-dev:9000
      AUTHENTIK_FRONTEND_HOST: http://localhost:9000
    depends_on:
      server:
        condition: service_healthy
